#root {

}


.overview-cell {
    float: left;
    border: 1px solid black;
    height: 322px;
    width: 250px;
    transition: width .2s linear;
    transition: height .2s linear;
}

.overview-cell p {
    margin: 0;
}

.overview-cell.scroll-to-right {
    transform: translateX(-150%)
}

.overview-cell.highlighted {
    height: 450px;
    width: 350px;
    transition: width .2s linear;
    transition: height .2s linear;
}