#root {
    outline: 0;
    background-image: url(http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg);
}


.overview-container {
    display: table; 
	margin: 0 auto;
}
#overview-listview {
    display: flex;
    align-items: center;
    list-style: none;
    min-height: 600px;
}
.overview-cell {
    float: left;
    height: 229px;
    width: 167px;
    color: white;
    transition: height .2s linear;
}

.overview-cell p {
    margin: 0;
    font-family: Arial;
}

.overview-cell .headline {
    max-height: 32px;
    overflow: hidden;
    padding-bottom: 10px;
    transition: opacity .2s linear;
    opacity: 0;
}

.overview-cell.highlighted .headline {
    opacity: 1;
}

.overview-cell .blurb {
    font-size: 12px;
    padding-top: 2px;
    height: 108px;
    overflow: hidden;
    transition: opacity .2s linear;
    opacity: 0;
}

.overview-cell.highlighted .blurb {
    opacity: 1;
    height: auto;
}

.overview-cell img {
    object-fit: cover;
    width: 100%;
}

.overview-cell.highlighted {
    height: 322px;
    width: 250px;
}